---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---
<span class:list={[className]}>n<span class="font-bold text-[1.3em] leading-none align-baseline">∞</span>sia</span>
